html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: black;
    text-align: center;
    color: white
}

header nav a {
    text-decoration: none;
    color: chartreuse;
    padding: 5px;
}

main {
    flex: 1;
    padding: 10px;
}

main section {
    padding: 10px;
}

.about {
    font-style: italic;

}

.dogs {
    text-align: center;
}

.dog-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dog-box {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 180px;
}

.dog-box img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.dog-box h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 5px
}
